/* * ****************************** */
/* *            FONTS               */
/* * ****************************** */

@font-face{
    font-family: 'Work Sans', sans-serif;
    src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}
@font-face{
    font-family: 'Work Sans IT', sans-serif;
    src: url("../fonts/WorkSans-Italic-VariableFont_wght.ttf");
}


/* * ****************************** */
/* *      GENERAL PROPERTIES        */
/* * ****************************** */

html{
    scroll-behavior: smooth;
}

body, main{
    margin: 0;
    padding: 0;
    background: #2e2e2e;
    color: #ebccc2;
    font-family: 'Work Sans', sans-serif;

}

h1, h4{
    font-size: 2em;
    font-weight: 100;
    opacity: .8;
    line-height: 130%;
    letter-spacing: 1px;
}

h4{
    font-size: 1em;

}

p{
    padding: 0;
    margin: 0;
    color: #867772;
    line-height: 180%;
    /* font-size: 1.2em; */
}


/* * ****************************** */
/* *         FIRST PAGE -  NAV+ HEADER            */
/* * ****************************** */


/* * ------------- */
/* *         Horizontal nav            */
/* * ------------- */


.nav-wrapper{
    
    position: fixed;
    z-index: 100;
    top:0;
    left:0;
    right: 0; 
    color: #ebccc2;

    vertical-align: baseline;


    border-top: 2px #111 solid;
    height: 76px;
}

.logo{
    font-size: 2em;
    display: inline-block;
    /* padding: 30px 0 10px 10%; */
    padding-left: 5%;
    padding-top: 30px;
}

.logo img{
    width: 40px;
}

.logo:hover{
    color: #333;
    text-decoration: none;
    list-style: none;
}
ul{
    list-style: none;
    display: inline-block;
    /* padding-right: 2%; */
    /* margin-top: 28px; */
    width: 40%;
    float: right;
    /* padding-left: 120px; */

    /* display: flex;
    justify-content: space-between; */
}

ul li{
    display: inline-block;
    padding-top: 20px;
    padding-left: 10px;
}
ul li:first-child{
    margin-right: 30px;
}
ul li:last-child{
    margin-left: 40px;
}

ul li a{
    text-decoration: none;
    color: #867772;
}

ul li a:hover{
    color: #ebccc2;
    text-decoration: underline;
    transition: 0.4s;
}

/* * ------------- */
/* *         Vertical nav            */
/* * ------------- */

#vertical_nav{
    position: fixed;
    margin: 0;
    padding: 0;
    top:50%;
    left:0;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: center; */
}


#verti_nav_wrapper{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 50vh;
    position: fixed;
    top:30vh;
    left: 20px;


}
#verti_nav_wrapper li{
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#verti_nav_wrapper li a{
    font-size: .8em;
    padding-left: 35px;
}


    /* *  OUTER CIRCLE!! */

.small_circle{
    box-sizing: border-box;
    padding: 2px;
    margin: 0;
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px rgba(235,204,194,.1) solid;
    /* opacity: .2; */
    border-radius: 5px;
    /* box-shadow: 0 0 1px 2px #2e2e2e, 0 0 1px 3px #ebccc2; */
}

#verti_nav_wrapper li a{
    text-decoration: none;
}

#verti_nav_wrapper li a:hover{
    color: #ebccc2;
}

/* !   ISSUE ONE  */
/* ?   WHY THIS commented stroke below DOEs NOT WORK?  meant the hover effect with neigbor */

/* #verti_nav_wrapper li a:hover ~ .small_circle{
    box-shadow: 0 0 1px 2px #2e2e2e, 0 0 1px 3px rgba(235,204,194,1);
} */

/* ? BUT THIS DOES -   from parent to child*/

#verti_nav_wrapper li:hover  .small_circle{
    box-shadow: 0 0 1px 2px #2e2e2e, 0 0 1px 3px rgba(235,204,194,1);
    transition: 1s;
    
}



/* * ------------- */
/* *         HIGHLIGHT ACTIVE LINK    FOR REUSE!!!         */
/* * ------------- */
/* !          FOR CHANGE in other pages */

#verti_nav_wrapper #diffe .small_circle{
    box-shadow: 0 0 1px 2px #2e2e2e, 0 0 1px 3px rgba(235,204,194,1);
}
#verti_nav_wrapper #diffe a{
    color:#ebccc2;
    opacity: .8;
}

/* !---------- */
/* #different_style{
    box-shadow: 0 0 1px 2px #2e2e2e, 0 0 1px 3px rgba(235,204,194,1)
} */






/* *   vertical lines  */
/* ?   HOW TO MAKE THOSE LINES BETTER for responsive design ? */
.line_down{
    top: 20px;
    left: 4px;
    position: absolute;
    width: 1px;
    height: 350%;
    background: #867772;
    opacity: .2;
}

/* *    Line positions vertical menu - for case of not absolute - relatice positions */
/* #numr2{
    top: 107px;
}
#numr3{
    top: 194px;
}
#numr4{
    top: 280px;
} */


/* *     Phrase between menus */
header h1{

    padding-top: 10%;
    padding-left: 30%;
    width: 350px;


}


/* * ****************************** */
/* *         MAIN  -   PAGE   index.      */
/* * ****************************** */

/* * PICTURE */
.first_page_index{
    background: url("../img/section-about-1.jpg") center/cover no-repeat;
    height: 100vh;
    width: 90%;
    margin-left: 65px;
    margin-top: 8%;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* * LAST PART of INDEX / ABOUT  */

.last_page_index{
    height: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* padding-left: 10%; */
    padding-bottom: 155px;
}

.last_page_index article{
    display: inline-block;
    width: 90vw;
    height: 45vh;
}

.last_page_index article img{
    display: inline-block;
    width: 70%;
    padding-left: 30%;
}

.last_page_index article h1, p{
    display: inline-block;
    width: 65%;
    padding-left: 10%;
    

}

.last_page_index article h1{
    padding-top: 5%;
}

.last_page_index article p{
    font-size: 1.2em;
}


/* * ****************************** */
/* *         MAIN  -   PAGE   LOUNGER, EXPO, SHOP   +++!!!    */
/* * ****************************** */

.split_both{
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.split_img{
    display: inline-block;
    width: 55vw;
    height: 100vh;
    /* background: red; */
    
}

.split_img img{
    display: inline-block;
    width: 100vw;
    height: 100vh;
    left:-100px;

}

#bg_lounge{
    background: url("../img/section-voyager.jpg") center/cover no-repeat;
    background-color: rgba(0,0,0,.3);
    background-blend-mode: multiply;
}

.split_text {
    width: 45vw;
    height: 100vh;
    background-color: #2e2e2e;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.split_text p, .split_text h1{
    width: 35vw;
    display: inline-block;
    padding-left: 4vw;
    padding-right: 15px;
}

.split_text h1{
    padding-bottom: 8vh;
    padding-top: 0;
    margin-top: 0;

}

.split_text p{
    padding-bottom: 15px;
}


/* *    EXPERIENCE PAGE MODS */


#bg_experience{
    background: url("../img/section-experience-1.jpg") center/cover no-repeat;
    background-color: rgba(0,0,0,.3);
    background-blend-mode: multiply;
}

/* *    SHOP PAGE MODS */

#bg_shop{
    background: url("../img/section-composition4.jpg") center/cover no-repeat;
    background-color: rgba(0,0,0,.3);
    background-blend-mode: multiply;
}

#shop_vision{
    /* box-sizing: border-box; */
    display: inline-block;
    text-align: center;
    /* padding-top: 15%; */
}
#shop_vision p, #shop_vision h1, #shop_vision img{
    padding: 0;
    margin: 0;
    padding-left: 50px;
}

#shop_vision p{
    color: #867772;
}

#shop_vision #grey_text1{
    display: inline-block;
    margin-bottom: 10px;;
}

#shop_vision h1{
    margin-bottom: 5px;
}

#shop_vision a{
    display: inline-block;
    text-decoration: none;
    color: #2e2e2e;
    padding: 10px 25px;
    background-color: #ebccc2;
    border-radius: 3px;
    font-size: 0.7em;
    margin-left: 50px;
}

#shop_vision a:hover{
    color: rgb(43, 112, 49);
    transition: 1s;
}

#shop_vision img{
    padding-top: 10%;
    width: 70%;
}


/* *    INSPIRATION PAGE  */

#wrapper_inspiration{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 100px;
}

#num_inpiration1 video{
    display: block;
}

.width_definer{
    display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* background: chocolate; */
}

#num_inpiration1{
    display: flex;
    flex-direction: column;
}

#num_inpiration2{
    width: 60%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#num_inpiration2 p, #num_inpiration2 h1, #num_inpiration2 h4{
    padding: 0;
    margin: 0;
}

#num_inpiration2 h4{
    margin-top: 100px;
}

#wrapper_inspiration h1{
    margin-top: 10px ;
    margin-bottom: 30px;
}

#num_inpiration2 a{
    display: inline-block;
    text-decoration: none;
    color:#867772;
    font-size: 0.7em;
    padding: 3px 6px;
    border: 1px #ebccc2 solid ;  
    margin-bottom: 10px;
    
}

#num_inpiration2 p{
    margin-bottom: 70px;
}

/* * last 2 blocks */
#num_inpiration3,  #num_inpiration4{
    width: 60%;
    height: 59.5vh;
}

#num_inpiration3 h1, #num_inpiration3 h4, #num_inpiration3 p,
#num_inpiration4 h1, #num_inpiration4 h4, #num_inpiration4 p{
    padding-left: 0;
    margin-left: 0;
    width: 100%;
}

#num_inpiration3 h4,  #num_inpiration4 h4{
    margin-bottom: 0;
}
#num_inpiration3 h1,  #num_inpiration4 h1{
    margin-top: 10px;
    margin-bottom: 30px;
}



#num_inpiration3 {
    background-color: coral ;
    background: url("../img/ETC_6.webp") left/contain no-repeat;
    padding-left: 32%;
    box-sizing: border-box;
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#num_inpiration4 {
    background: red ;
    background: url("../img/ETC_5.webp") right/contain no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#num_inpiration4 p{
    box-sizing: border-box;
    padding-right: 35vw;
}
